#container {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    padding: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cat-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}